// Color
$color-light: #ffffff;
$color-dark: #000000;
$color-second: #1a8fe9;
$color-dark-v2: #898989;

$color-text-main: #181818;
$color-text-second: #5d5d5d;

$color-primary: #e59a05;
$color-primary-hover: #b47e04;

$bg-v1: rgba(255, 255, 255, 0.15);

//Font
$text-size-xl: 45px;
$text-size-lg: 18px;
$text-size-md: 16px;
$text-size-sm: 14px;
$text-size-xs: 12px;

//Anim
$anim-duration: 350ms;
$anim-func-v1: ease;
